<!DOCTYPE html>
<html lang="en">
<head>
	<title>Meditation App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container">		
		<!--<div class="navigation">
			<ul>
			  <li class='js-displaySignup'>Sign Up</li>
			  <li class="js-displayLogin">Login</li>
			  <li id="dashboardBtn">Dashboard</li>
			  <li id="challengeBtn">21 Day Challenge</li>
			  <li id="meditate-btn">Meditate</li>
			  <li class="js-logoutBtn">Logout</li>
			</ul> 			
		</div>-->
		<div class="navbar">		  		
		  <div class="dropdown">
		    <button class="dropbtn">User
		      <i class="fa fa-caret-down"></i>
		    </button>
		    <div class="dropdown-content" id="myDropdown">
		      <a href="#" id="dashboardBtn">Dashboard</a>
		      <a href="#" id="meditate-btn">Meditation</a>
		      <a href="#" class="js-logoutBtn">LogOut</a>
		    </div>
		  </div>
		  <a href="#" id="challengeBtn">21-Day Challenge</a>
		  <a href="#" id="homeBtn">Home</a>
		  <a href="#" class="js-displaySignup">SignIn</a>
		  <a href="#" class="js-displayLogin">LogIn</a> 
		</div>
		<div class="navbarHolder"><i class="fa fa-ellipsis-h"></i></div>
		<main>
			<div class="container-home">
				<header>
					<h1>Focus</h1>
				</header>
				<p>Meditate. Let the light of the heart engulf you.</p>
				<div class="buttonDivCls">
					<button id="signUp" name="signUp" class="buttonCls">Sign Up</button>
					<button id="login" name="login" class="buttonCls">Login</button>
				</div>
			</div>
			<div class="signup-window">				
				<form role="form" class="signUpForm">
					<fieldset id="signUp-form">
						<legend>
							Sign Up
						</legend>
						<div>
						<label for="userName">UserName: </label>
						<input type="text" name="userName" required value="monkey" />
					</div>
					<div>
						<label for="password">Password: </label>
						<input type="password" name="password" required value="monkey123"/>
					</div>
					<div>
						<button type="submit">Sign Up</button>
					</div>
					</fieldset>
				</form>				
			</div>
			<div class="login-window">
				<form role="form" class="loginForm">
					<fieldset>
						<legend>Login</legend>
						<div>
							<label for="username">UserName :</label>
							<input type="text" name="username"  required />
						</div>
						<div>
							<label for="password">Password</label>
							<input type="password" name="password"  required />
						</div>
						<div>
							<button type="submit">Login</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="container-dashboard">
				<h1>Dashboard</h1>
				<div class="js-data">
					<p class="streakCls">Currently running a :<span></span> day streak.</p>
					<p class="streakCls">Number of days meditated :<span></span> days.</p>
					<p class="challengeCls">You are registered for 21-day challenge</p>
					<p class="challengeCls js-challenge js-nextChallenge"></p>
					<h2>Badges :</h2>
				</div>
								
				<div class="badgesDiv"></div>
				<div class="achievements">					
					<div class="registered">
						<h3>Registered Challenges</h3>
						<div></div>
					</div>					
					<div class="completed">
						<h3>Completed Challenges</h3>
						<div></div>
					</div>
				</div>				
			</div>
			<div class="container-challenge">
				<h1>21 Day Challenge</h1>
				<p>21 day Challenge starts on the first of every month and continues till 21st of each month. Users can sign up for this challenge and win the 21 day challenge badge.</p>
				<h2 class='js-nextChallenge'>Sign Up for the next challenge</h2>
				<p>Today is the <span></span> of the challenge</p>
				<p><span></span> out of the total <span></span> registered users are actively meditating so far.</p>	
				<div class="usersList"></div>								
			</div>
			<div class="container-meditate">
				<h2 class="textClass">Choose an audio for meditation</h2>
				<div class="audio-container">										
				</div>
			</div>
			<div class="meditation-window">
				<div class="centerClass">
					<h2 class="textClass">Start your Meditation</h2>
					<div class="audioTagClass">
						<audio controls="controls" id="player">
							<source id="audio-src" src="">
								Your browser does not support audio tag.
						</audio>						
					</div>					
				</div>
			</div>
			<div id="playerHolder">
				<i class="fa fa-ellipsis-h"></i>
			</div>
			<div class="playerDiv">
				
			</div>			
		</main>			
	</div>	
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<script src="/index.js"></script>
</body>
</html>