<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<title>Meditation App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/style.css">
</head>
<body class="regularBackground">
	<header class="container" role="banner">				
		<nav class="navbar" id="navbarDiv" role="navigation">		  		
		  <article class="dropdown">
		    <button class="dropbtn">User
		      <i class="fa fa-caret-down"></i>
		    </button>
		    <section class="dropdown-content" id="drop-down">
		      <a href="#" id="dashboardBtn">Dashboard</a>
		      <a href="#" id="meditate-btn">Meditation</a>		      
		      <a href="#" class="js-logoutBtn">LogOut</a>
		    </section>
		  </article>
		  <a href="#" id="challengeBtn">21-Day Challenge</a>
		  <a href="#" class="js-displayLogin">LogIn</a>
		  <a href="#" class="js-displaySignup">SignUp</a>		  
		  <a href="#" id="homeBtn">Home</a> 
		</nav>
		<div class="navbarHolder"><i class="fa fa-ellipsis-h"></i></div>			
	</header>
	<main role="main">
			<section class="container-home">
				<header class="headerCls">
					<h1>Focus</h1>
				</header>
				<p class="captionCls">Meditate. Let the light of the heart engulf you.</p>
				<div class="buttonDivCls">
					<button id="signUp" name="signUp" class="buttonCls" role="button">Sign Up</button>
					<button id="loginBtn" name="loginBtn" class="buttonCls" role="button">Login</button>
				</div>
			</section>
			<section class="signup-window">				
				<form role="form" class="signUpForm">
					<fieldset id="signUp-form">
						<legend>
							Sign Up
						</legend>
						<div>
							<label for="userName">UserName: 
								<input type="text" name="userName" required />
							</label>
						</div>
						<div>
							<label for="password">Password: 
								<input type="password" name="password" id="password" required />
							</label>
						</div>
						<div>
							<label for="confirmPassword">Confirm Password: 
								<input type="password" id="confirmPassword" name="confirmPassword" required />
							</label>
						</div>
						<div>
							<button type="submit" role="button">Sign Up</button>
						</div>
					</fieldset>
				</form>				
			</section>
			<section class="login-window">
				<form role="form" class="loginForm">
					<fieldset>
						<legend>Login</legend>
						<div>
							<label for="username">UserName :
								<input type="text" name="username" required />
							</label>
						</div>
						<div>
							<label for="password">Password
								<input type="password" name="password" required  />
							</label>
						</div>
						<div>
							<button type="submit" role="button">Login</button>
						</div>
					</fieldset>
				</form>
			</section>
			<section class="container-dashboard">
				<h1>Dashboard</h1>
				<div class="js-data">
					<p class="streakCls">Currently running a :<span></span> day streak.</p>
					<p class="streakCls">Number of days meditated :<span></span> days.</p>
					<h2>Badges :</h2>
				</div>
								
				<div class="badgesDiv"></div>
				<div class="achievements">					
					<div class="registered">
						<h3>Registered Challenges</h3>
						<div></div>
					</div>					
					<div class="completed">
						<h3>Completed Challenges</h3>
						<div></div>
					</div>
				</div>
				<button id="delete-btn" type="button">Close Account</button>				
			</section>
			<section class="container-challenge">
				<h1 class="textClass">21 Day Challenge</h1>
				<p class="defineChallenge">21 day Challenge starts on the first of every month and continues till 21st of each month. Users can sign up for this challenge and win the 21 day challenge badge.</p>				
				<h2 class="js-currentChallenge">You are signed up for current challenge</h2>
				<h2 class='js-nextChallenge'>Sign Up for the next month's challenge</h2>
				<div class="textClass challengeHeader"><span class="month-span"></span> Month's Challenge Report</div>
				<p class="textClass"><span class="user-span"></span> people have registered for <span class="month-span"></span> month's challenge.</p>	
				<div class="usersList"></div>								
			</section>
			<section class="container-meditate">
				<h2 class="textClass">Choose an audio for meditation</h2>
				<div class="audio-container">										
				</div>
			</section>
			<section class="meditation-window">
				<div class="centerClass">														
				</div>
			</section>
			<article id="playerHolder">
				<i class="fa fa-ellipsis-h"></i>
			</article>
			<article class="playerDiv">				
				<section class="audioTagClass">					
					<audio id="player">
						<source id="audio-src" src="">
							Your browser does not support audio tag.
					</audio>
					<div class="controlIconDiv js-pause"><i class="fa fa-pause" title="Pause button"></i></div>
					<div class="controlBtnDiv"><img class="playBtnClass" src="/images/playBtn.jpg" alt="play button" role="button"	/></div>
					<div class="controlIconDiv js-stop"><i class="fa fa-stop" title="Stop button"></i></div>		
				</section>
				<progress max="100" value="0" role="progressbar">
	    			<div class="progress-bar">
	        			<span style="width: 100%;">Progress: 80%</span>
	    			</div>
				</progress>											
			</article>
			<article class="alertClass" role="alertDialog">
				<div class="caption"><i>Focus</i><i class="fa fa-window-close js-close" aria-hidden="true"></i></div>
				<div>
					<p class="messageClass" role="alert">Hello</p>
				</div>				
				<button id="okBtn" role="button">Ok</button>
			</article>
			<article class="confirmClass" role="dialog">
				<div class="captionClass"><i>Focus</i><i class="fa fa-window-close js-confirm-close" aria-hidden="true"></i></div>
				<div class="messageDiv" role="alert"><p class="messageCls">Hello</p></div>
				<div class="BtnDiv"></div>				
					<button id="ok" role="button">Ok</button>
					<button id="cancel" role="button">Cancel</button>
				</div>
			</article>
	</main>		
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<script src="/index.js"></script>
</body>
</html>