
*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	margin:0;
	padding:0;
}
body{
/*	background: url('/images/meditation.jpg') no-repeat fixed center;
	background-size: cover;
	height:100vh;		
	width: 100%; */
}


.regularBackground{
	background: url("/images/meditation.jpg") no-repeat fixed center;
	background-size: cover;
	height:73vh;		
	width: 100%;
}

.headerCls{
	text-align: center;
	font-size: 28px;
	font-weight:bold;
	font-style: italic;
	color: black;
}
main{
	width:100%;
	/*border: 2px solid green;*/
	height: 100%;
	margin:0; 
	padding:0;
	/*border: 3px solid green;*/
}

.container{
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
	/*border: 3px solid white;*/
}

.container-home{
	/*border:1px solid white;*/
	width: auto;
	height: 100%;
	margin: 150px auto 0 0;
}

.container-dashboard{
	width:100%;
	height:auto;	
	background-color: rgba(154, 5, 1,0.75);
	margin: 0 auto;
	padding:15px;
	color: white;
	opacity: 0.75;		
}

.container-dashboard > h1{
	text-align: center;
}

.container-challenge{
	width:90%;
	height:85vh;
	background-color: rgba(154,5, 1,0.75);
	margin: 25px auto 0 auto;
	padding:15px;
	color:white;
}

.buttonDivCls{
	height: 200px;
	text-align: center;
	/*border:1px solid white;*/
	vertical-align: bottom;
}

.buttonCls{
	width: 120px;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 14px;
	font-weight:bold;
	margin-right: 20px;
}

.closeBtn{
	font-size: 14px;
	margin: 15px auto;
	width:100px;
	height:30px;
	background-color: transparent;
	font-weight: 550;
	border-radius: 15px;	
}

.captionCls {
	color:black;
	font-style: italic;
	font-size: 28px;
	text-align: center;
}

.navigation{
	height: 50px;
	width:100%;
	background-color: #FFD368;
	top:0;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	display:flex;
	justify-content:flex-end;
	align-items:center; 

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;        
}

li {
    display: inline-block;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;         
    text-align:center;
    line-height:30px;
    background-color: #b30b00;
    color: #FFD368;
    border-radius: 10px;    
    border:1px solid #b30b00;
    cursor: pointer;
}

.badgeClass{	
	height: 120px;
	width: 150px;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;	
}

.badgeClass > img{
	height: 100%;
	width: 100%;
}

.badgeClass>span{
	display:block;
	color:white;
	font-size: 14px;
	height: 10px;	
}
.badgesDiv{
	width: 90%;
	height:auto;
	border: 1px solid white;
	border-radius: 5px;
	margin: 15px auto 15px auto;
	padding: 15px;

}

.badge-div{
	height: auto;
	width:155px;	
	display:inline-block;
	text-align: center;
}

.streakCls{
	font-size: 18px;
	color:white;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;	
}

.streakCls > span{
	color: yellow;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;	
}

.challengeCls {
	color: white;
	font-size: 18px;
	font-weight: bold;	
}

.js-challenge{
	animation: blink 3s linear infinite;
}

.registered{
	display: inline-block;
	height: 120px;
	width:49.5%;
	border: 1px solid;
	padding:15px;
}

.completed{
	display:inline-block;
	border: 1px solid;
	height: 120px;
	width:49.5%;
	padding:15px;
}

.registered > div , .completed>div{
	display:inline-block;	
}

.achievements{
	margin: 0 auto;
	width: 90%;
	height:auto;
}
.js-data{
	width:90%;
	margin: 0 auto;
	height: auto;
}

h3{
	padding:0;
	margin:0;
}

.dateClass{
	color: #FFD368;
	font-size: 18px;
	/*font-weight:bold;*/
	margin:0;

}
/* 21 -day challenge */

.outerDiv{
	height:auto;
	width:100%;
	/*border: 1px solid white;*/
	margin: 0 auto;	
}

.nameDiv{
	height: 30px;
	width: 20%;
	/*border: 1px solid blue;
	background-color: white;*/
	color:red;
	text-align: center;
	line-height: 30px;
	display:inline-block;
	margin:0;
	padding: 0;
	font-weight:bold;
	vertical-align: top;
	color:rgb(255, 211, 104);
}
.nameDivHeader{
	height: 30px;
	width: 20%;	
	display:inline-block;
	/*border: 1px solid blue; 
	background-color: white;*/
	

}

.dayBarClass{
	height:30px;
	width: 3.5%;
	border:1px solid white; 
	/*background-color: rgb(255, 211, 104);*/
	display:inline-block;
	margin: 0 3px;
}

.dayHeader{
	height:30px;
	width: 3.5%;
	display:inline-block;
	margin: 0 3px;
	border:1px solid black;
	text-align: center;
	color: #FFD368;
}

.hbar{
	display:inline-block;
	height:30px;
	width:80%;
	
/*	border: 1px solid green; */
	margin:0;
	padding: 0;
	line-height: 30px;
	vertical-align: top;
}

.barDiv{
	height:37px;
	width:100%;
	/*border: 1px solid blue;*/
	margin:0;
	padding:2px;
	line-height: 37px;
	vertical-align: top;

}

.audio-container{
	width: 670px;
	height: 510px;
/*	border:1px solid white; */
	margin: 70px auto 10px auto;
	/*padding: 10px;*/
	overflow-y: visible;
}
/*
#outerContainer{
	width: 250px;
	min-height:250px;
	display:inline-block;
	border: 1px solid yellow;
	margin:0;	
}*/
.meditation-audio{
	width: 100%;
	height: 100%;
	z-index: 1;	
}

.meditation-audio:hover{
	/*transform:scale(1.5);*/		
}

.backgroundClass{
	background: url("/images/meditation-bg.jpg") no-repeat fixed center;
	background-size: cover;
	height:73vh;		
	width: 100%;
}

.image-container{
	width: 120px;
	height: 120px;
	/*background: url('/images/meditation1.jpg') no-repeat center top;
	background-size: 170px 180px; 	*/
	/*float:left;
	clear:none;*/
	cursor: pointer;
	display:inline-block;
	margin: 20px;
	border-radius: 15px;
	/*border: 1px solid white;*/
	overflow:hidden;	
	transition: transform .2s; 
	position: relative;	
}


.image-container:hover{
	transform:scale(1.5);
	/*opacity: 0.25; */	
}


.js-text{
	font-size: 8px;
	position: absolute;
	width: 120px;
	height: 120px;
	line-height: 70px;	
	text-align: center;
	z-index: 10;	
	/*opacity: 0;*/
	transition: all 0.5s ease;
	top:0;
	color: white;
	font-size: 22px;
	font-weight: bolder;
	padding:2px;
}

.js-text:hover{
	/*opacity: 1;*/
	z-index: 100;
	background-color: rgba(0,0,0, 0.55);
}

.headerClass{
	text-align: center;
	display:inline-block;	
}



.centerClass{
	text-align: center;
	line-height: 200px;
}

.playerDiv>h3{
	display:block;
}

/* sign up form */

.signup-window, .login-window {
	width: 350px;
	height: auto;
	margin:150px auto 0 auto;
	color: white;
	font-size: 20px;
	background-color: rgba(154, 5, 1,0.25);
	border-radius: 10px;	
}

.login-window{
	width:350px;
	height:auto;
}

.signup-window div, .login-window div{
	margin-bottom: 15px;
}

.textClass{
	text-align: center;
}

h2.textClass{
	margin-top: 75px;
	font-size: 30px;
	color: black;
}
p.textClass{
	font-size: 20px;
}
.challengeHeader{
	font-size: 24px;
	font-weight: bold;
}

/*progress circle */

.progress-ring {
  
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* progress circle */

/* sign up */

.signUpForm, .loginForm {
	width: 350px;
	height: 400px;
	margin: 0 auto;
	padding: 35px 15px 35px 15px;	
}

.loginForm{
	width:300px;
	/*height:350px;*/
	padding: 25px 0 0 0;
}

fieldset{	
  padding: 25px;  
  border:0;
}

legend{
  font-size: 25px;
  font-weight: bolder;
  margin: 0 auto;
  width:100%;
  text-align:center;
  color: black;
}

input{
	font-size: 20px;
	margin-top:10px;
	border:1px solid blue;
	padding-left: 5px;
}
label{
	font-size: 18px;
	font-weight: bold;
	color:black;
}

#demoDetails{
	font-size: 16px;
	color: black;
	font-weight:bold;
}
#demoDetails div:first-child{
	text-decoration: underline;
}

#demoDetails div{
	margin-bottom: 2px;
}

.signUpForm div > button, .loginForm div > button{
	height: 35px;
	width: 100px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
}

/*    */
.navbar {
    overflow: hidden;
    background-color: #9a0501;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;    
}

.meditate-navbar{
	background-color: rgba(255,255,255,0.25);
	border: 1px solid white;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    margin:5px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.dropdown {
    float: right;
    overflow: hidden;    
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 10px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   /* background-color: red;*/
   border: 1px solid #FFD368;
}

.dropdown-content {
    display: none;
    right:5px;
    position: absolute;
    background-color: #9a0501;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #FFD368;
    border-radius: 15px;
}

.meditate-dropdown-content{
	background-color: transparent;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FFD368;
	color: #68051a;   
}

.show {
    display: block;
}

/*   */

.navbarHolder, #playerHolder{
	height: 15px;
	width: 80px;
	border: 1px solid white;
	display:block;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.25);	
	text-align: center;
	line-height: 15px;
	font-size: 0;
	cursor:pointer;	
}

.navbarHolder{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

#playerHolder{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position:fixed;
	bottom: 200px;
	right:0;
	left:0;
}


.fa-ellipsis-h{	
	font-size: 16px;
}

.audioTagClass{
	height: 120px;
	width: 300px;
	/*border: 1px solid white;	*/
	display: inline-block;
	margin: 0 auto;	
	line-height: 200px;

}

/*  */
.playerDiv{
	height: 200px;
	width: 500px;
	border: 1px solid white;
	margin:0 auto;
	right: 0;
    left: 0;
    bottom: 0px;
    position:fixed;    
    border-top-right-radius:150px;
    border-top-left-radius:150px;
    text-align:center;
    font-size: 0;
    background-color: rgba(255,255,255,0.25);
    padding-top: 15px;
}


.opt-div{	
	display: inline-block;
	border: 1px solid white;	
}

.progress-container{
	margin: 0 auto;
	width: 75%;
	height: auto;
}

.playBtnClass{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
	cursor:pointer;
}

.controlBtnDiv{
	height: 110px;
	width:110px;
	/*border: 1px solid white;*/
	display:inline-block;	
}
.controlIconDiv{
	height: 110px;
	width:50px;
/*	border: 1px solid white; */
	display:inline-block;
	padding-bottom: 15px;
	line-height: 110px;
	vertical-align: top;
}
.controlIconDiv>i{
	font-size: 18px;
	vertical-align: middle;
	cursor:pointer;	
}



progress {
  width: 250px;
  height: 10px;
  margin: 0 auto;
  display:block;
  border: 1px solid black;
  border-radius: 15px;
}

.alertClass, .confirmClass{
	position:absolute;
	height: 20%;
	width: 25%;
	border:1px solid black;
	background-color: rgba(255, 166, 17,1);
	left: 35%;
	top:20%;
	margin-top: -50px;
	margin-bottom: -80px;
/*	line-height: 80px; */
	text-align: center;
	display: none;
	border-radius: 10px;
}

.confirmClass{
	line-height: 0;
}

.messageDiv{
	height:60%;
	width:100%;
	border:1px solid transparent;
	line-height: 25px;
}

.messageCls{
	font-size: 16px;
	font-weight: bold;
}

.messageClass{
	font-size: 16px;
	font-weight:bold;
}

.caption, .captionClass{
	width:100%;
	height: 30px;
	background-color: rgba(154, 5, 1,0.25);
	color:black;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.fa-window-close{
	float:right;
	font-size: 24px;
	margin:3px;
	cursor:pointer;	
}

#ok{
	margin-right: 15px;
}

#ok, #cancel, #okBtn{
	width: 70px;
	border-radius: 5px;
	font-weight: bold;
	background-color: rgba(154, 5, 1,0.25);
}

.captionClass > i:first-child, .caption > i:first-child{
	margin-left: 5px;
}

.alertClass > div:nth-child(2){
	border: 1px solid transparent;
	height: 60%;
	width:100%;
	line-height: 60px;	
}

#delete-btn{
	/*margin:15px 60px;*/
	margin: 15px auto 0 auto;
	width: 150px;
	height: 35px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #FFD368;
	color: #68051a; 
	font-size: 14px;
	font-weight: bold;
	display:block;
}

.js-currentChallenge{
	display: none;
}

.container-challenge > h1{
	text-align: center;
}

.defineChallenge{
	font-size: 20px;
}


@media only screen  and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px)  { 

	.outerDiv{
		width: 100%;
		border:0;
	}

	.container-challenge {
	    width: 100%;
	    margin-right: 0px;
	    margin-left: 0px;
	    padding: 5px;
	    height:100%;
	}

	.nameDivHeader{
		width:15%;
	}
	.hbar{
		width:85%;
	}

	.dayHeader{
		width:2.5%;
		border:0;
		font-size: xx-small;
		line-height: 30px;
		vertical-align: bottom;
	}
	.nameDiv{
		width:15%;
	}
	.dayBarClass{
		width: 2.5%;		
	}

	.alertClass{
		width:65%;
		left:19%;
	}

	.login-window, .signup-window{
	/*	width:auto;*/
	}

	.loginForm, .signUpForm{
		width:auto;
		height:50%;
	}
	.streakCls, .challengeCls{
		font-size: 16px;
	}

	.challengeCls{
		text-align: center;
	}

	.badgesDiv{
		width: 100%;
    	height: auto;    	    
    	margin: 5px auto 5px auto;
    	padding: 10px
	}

	.badge-div{		
    	width: 65px;    	
	}
	.badgeClass{
		margin: 0 auto;
	    height: 50px;
	    width: 60px;	    	    
	}
	.achievements{
		width:100%;
	}
	.registered, .completed{
		width:100%;
		padding:10px;
		margin-bottom: 5px;
	}

	.audio-container{
		width:100%;
		height:auto;
		text-align: center;
	}

	.image-container{
		height: 60px;
		width:60px;
		margin:10px;
	}

	.js-text{
		left:0;
		height:60px;
		width: 60px;
		line-height: 30px;
		font-size: 12px;
	}

	.playerDiv{
		width: 99%;
	}

}

@media only screen and (max-width: 600px),
		only screen	and (max-width:767px){

	.badgesDiv{
		width:100%;
		padding: 10px;
	}
	.achievements{
		width:100%;
	}
	.outerDiv{
		width:100%;
	}

	.nameDivHeader, .nameDiv{
		width:15%;
	}
	.hbar{
		width:85%;
		padding-left:10px;
	}
	.dayHeader{
		width:2.3%;
		line-height: 45px;
		font-size: x-small;
		vertical-align: text-bottom;
		border:0;
	}

	.dayBarClass{
		width:2.3%;
	}

	.audio-container{
		width: 90%;
		margin: 0px auto 10px auto;
		height: auto;
		padding:10px;
	}
	.login-window, .signup-window{
	/*	width:50%; */
		margin:60px auto 0 auto;
	}
	.loginForm{
		width:auto;
	}
	.confirmClass, .alertClass{
		width:70%;
	}

	.alertClass > div:nth-child(2) {
		margin:0;
		height:50%;
	}
	.messageClass{
		margin:0;
	}

	.confirmClass {
    	width: 60%;
    	left: 20%;
    	height:auto;
    	padding-bottom: 10px;
	}
	.messageDiv{
  		line-height: 25px;
  		height:50%;
  	}		
	
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2)  {
  	.messageDiv{
  		line-height: 85px;
  	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.confirmClass, .alertClass{
		width:50%;
		left:25%;
	}

	.alertClass > div:nth-child(2) {
		margin: 0;
	    height: 65%;
	    line-height: 140px;
	    vertical-align: middle;
	}
	.messageClass{
		margin:0;
		font-size:22px;
	}
	.caption{
		font-size: 20px;
	}
}



        

