
*{
	box-sizing: border-box;
}
html, body{
	height: 90vh;
	margin:0;
	padding:0;
}
body{
	background-image: url('/images/meditation.jpg');
}

header{
	text-align: center;
	font-size: 28px;
	font-weight:bold;
	font-style: italic;
	color: white;
}
main{
	width:100%;
	/*border: 2px solid green;*/
	height: 90vh;
	margin:50px 0 0 0; 
	padding:0;
}

.container{
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
}

.container-home{
	/*border:1px solid white;*/
	width: auto;
	height: 100%;
	margin: 150px auto 0 0;
}

.container-dashboard{
	width:100%;
	height:100%;	
	background-color: white;
	margin: 0 0 0 0;
	padding:0;
}

.buttonDivCls{
	height: 200px;
	text-align: center;
	/*border:1px solid white;*/
	vertical-align: bottom;
}

.buttonCls{
	width: 120px;
	height: 40px;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 14px;
	font-weight:bold;
	margin-right: 20px;
}

p {
	color:white;
	font-style: italic;
	font-size: 28px;
	text-align: center;
}

.navigation{
	height: 50px;
	width:100%;
	background-color: #FFD368;
	top:0;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	display:flex;
	justify-content:flex-end;
	align-items:center; 

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;        
}

li {
    display: inline-block;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;         
    text-align:center;
    line-height:30px;
    background-color: #b30b00;
    color: #FFD368;
    border-radius: 10px;    
    border:1px solid #b30b00;
    cursor: pointer;
}

.badgeClass{
	display: inline-block;
	height: 100px;
	width: 140px;
	border: 1px solid black;
	border-radius: 50%;
}

.badgeClass > img{
	height: 90px;
	width: 100px;
}

.badgeClass>span{
	display:block;
}
.badgesDiv{
	width: 90%;
	border: 1px solid black;
	border-radius: 5px;
	margin: 15px auto 15px auto;

}
.streakCls{
	font-size: 18px;
	color:black;
	text-align: left;
	font-weight: bold;

}

.streakCls > span{
	color: green;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.challengeCls {
	color: black;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.registered{
	display: inline-block;
	height: 120px;
	width:30%;
	border: 1px solid;
}

.completed{
	display:inline-block;
	border: 1px solid;
	height: 120px;
	width:30%;
}

.registered > div , .completed>div{
	display:inline-block;
}

.achievements{
	margin: 0 auto;
	width: 90%;
	height:auto;
}

h3{
	padding:0;
	margin:0;
}

.dateClass{
	color: blue;
	font-size: 18px;
	font-weight:bold;
	margin:0;

}
/* 21 -day challenge */

.outerDiv{
	height:auto;
	width:60%;
	border: 1px solid white;
	margin: 0 auto;
	
}

.nameDiv{
	height: 30px;
	width: 20%;
	/*border: 1px solid blue;*/
	background-color: white;
	color:red;
	text-align: center;
	line-height: 35px;
	display:inline-block;
	margin:0;
	padding: 0;
}
.nameDivHeader{
	height: 30px;
	width: 20%;	
	display:inline-block;
	/*border: 1px solid blue; */
	background-color: white;
	

}

.dayBarClass{
	height:25px;
	width: 15px;
	border:1px solid white; 
	/*background-color: #FFD368; */
	display:inline-block;
	margin: 3px;
}

.dayHeader{
	height:25px;
	width: 15px;
	display:inline-block;
	margin: 3px;
	border:1px solid black;
	text-align: center;
	color: #FFD368;
}

.hbar{
	display:inline-block;
	height:30px;
	width:77.5%;
	
/*	border: 1px solid green; */
	margin:0;
	padding: 0;
}

.barDiv{
	height:37px;
	width:100%;
	/*border: 1px solid blue;*/
	margin:0;
	padding:0;

}

.audio-container{
	width: 670px;
	height: 510px;
/*	border:1px solid white; */
	margin: 70px auto 10px auto;
	/*padding: 10px;*/
	overflow-y: visible;
}
/*
#outerContainer{
	width: 250px;
	min-height:250px;
	display:inline-block;
	border: 1px solid yellow;
	margin:0;	
}*/
.meditation-audio{
	width: 100%;
	height: 100%;
	z-index: 1;	
}

.meditation-audio:hover{
	/*transform:scale(1.5);*/		
}

.image-container{
	width: 120px;
	height: 120px;
	/*background: url('/images/meditation1.jpg') no-repeat center top;
	background-size: 170px 180px; 	*/
	/*float:left;
	clear:none;*/
	cursor: pointer;
	display:inline-block;
	margin: 20px;
	border-radius: 15px;
	/*border: 1px solid white;*/
	overflow:hidden;	
	transition: transform .2s; 
	position: relative;	
}


.image-container:hover{
	transform:scale(1.5);
	opacity: 0.25; 
}


.js-text{
	font-size: 8px;
	position: absolute;
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	z-index: 10;	
	opacity: 0;
	transition: all 0.5s ease;
	top:0;
	color: white;
	font-size: 22px;
	font-weight: bolder;
}

.js-text:hover{
	opacity: 1;	
	z-index: 100;
}

.headerClass{
	text-align: center;
	display:inline-block;	
}

.audioTagClass{
	height: 200px;
	width: 300px;
	border: 1px solid white;	
	display: inline-block;
	/*margin: 0 auto;	*/
	line-height: 200px;
}

.centerClass{
	text-align: center;
	line-height: 200px;
}

/* sign up form */

.signup-window, .login-window {
	width: 50%;
	height: 50%;
	margin:100px auto 0 auto;
	color: white;
	font-size: 20px;
}
.signup-window div, .login-window div{
	margin-bottom: 15px;
}

.textClass{
	text-align: center;
}

h2.textClass{
	margin-top: 75px;
	font-size: 30px;
	color: #FFD368;
}
