
*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	margin:0;
	padding:0;
}
body{
	background-image: url('/images/meditation.jpg');
}

header{
	text-align: center;
	font-size: 28px;
	font-weight:bold;
	font-style: italic;
	color: white;
}
main{
	width:100%;
	/*border: 2px solid green;*/
	height: 100%;
	margin:0; 
	padding:0;
	/*border: 3px solid green;*/
}

.container{
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
	/*border: 3px solid white;*/
}

.container-home{
	/*border:1px solid white;*/
	width: auto;
	height: 100%;
	margin: 150px auto 0 0;
}

.container-dashboard{
	width:90%;
	height:auto;	
	background-color: rgba(0,0,0,.5);
	margin: 60px auto 0 auto;
	padding:15px;
	color: white;		
}

.container-dashboard > h1{
	text-align: center;
}

.buttonDivCls{
	height: 200px;
	text-align: center;
	/*border:1px solid white;*/
	vertical-align: bottom;
}

.buttonCls{
	width: 120px;
	height: 40px;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 14px;
	font-weight:bold;
	margin-right: 20px;
}

p {
	color:white;
	font-style: italic;
	font-size: 28px;
	text-align: center;
}

.navigation{
	height: 50px;
	width:100%;
	background-color: #FFD368;
	top:0;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	display:flex;
	justify-content:flex-end;
	align-items:center; 

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;        
}

li {
    display: inline-block;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;         
    text-align:center;
    line-height:30px;
    background-color: #b30b00;
    color: #FFD368;
    border-radius: 10px;    
    border:1px solid #b30b00;
    cursor: pointer;
}

.badgeClass{	
	height: 120px;
	width: 150px;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;	
}

.badgeClass > img{
	height: 100%;
	width: 100%;
}

.badgeClass>span{
	display:block;
	color:white;
	font-size: 14px;
	height: 10px;	
}
.badgesDiv{
	width: 90%;
	height:auto;
	border: 1px solid white;
	border-radius: 5px;
	margin: 15px auto 15px auto;
	padding: 15px;

}

.badge-div{
	height: auto;
	width:155px;	
	display:inline-block;
	text-align: center;
}

.streakCls{
	font-size: 18px;
	color:white;
	text-align: left;	
}

.streakCls > span{
	color: yellow;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.challengeCls {
	color: white;
	font-size: 18px;
	font-weight: bold;	
}

.js-challenge{
	animation: blink 3s linear infinite;
}

.registered{
	display: inline-block;
	height: 120px;
	width:49.5%;
	border: 1px solid;
	padding:15px;
}

.completed{
	display:inline-block;
	border: 1px solid;
	height: 120px;
	width:49.5%;
	padding:15px;
}

.registered > div , .completed>div{
	display:inline-block;	
}

.achievements{
	margin: 0 auto;
	width: 90%;
	height:auto;
}
.js-data{
	width:90%;
	margin: 0 auto;
	height: auto;
}

h3{
	padding:0;
	margin:0;
}

.dateClass{
	color: blue;
	font-size: 18px;
	font-weight:bold;
	margin:0;

}
/* 21 -day challenge */

.outerDiv{
	height:auto;
	width:60%;
	border: 1px solid white;
	margin: 0 auto;
	
}

.nameDiv{
	height: 30px;
	width: 20%;
	/*border: 1px solid blue;*/
	background-color: white;
	color:red;
	text-align: center;
	line-height: 35px;
	display:inline-block;
	margin:0;
	padding: 0;
}
.nameDivHeader{
	height: 30px;
	width: 20%;	
	display:inline-block;
	/*border: 1px solid blue; */
	background-color: white;
	

}

.dayBarClass{
	height:25px;
	width: 15px;
	border:1px solid white; 
	/*background-color: #FFD368; */
	display:inline-block;
	margin: 3px;
}

.dayHeader{
	height:25px;
	width: 15px;
	display:inline-block;
	margin: 3px;
	border:1px solid black;
	text-align: center;
	color: #FFD368;
}

.hbar{
	display:inline-block;
	height:30px;
	width:77.5%;
	
/*	border: 1px solid green; */
	margin:0;
	padding: 0;
}

.barDiv{
	height:37px;
	width:100%;
	/*border: 1px solid blue;*/
	margin:0;
	padding:0;

}

.audio-container{
	width: 670px;
	height: 510px;
/*	border:1px solid white; */
	margin: 70px auto 10px auto;
	/*padding: 10px;*/
	overflow-y: visible;
}
/*
#outerContainer{
	width: 250px;
	min-height:250px;
	display:inline-block;
	border: 1px solid yellow;
	margin:0;	
}*/
.meditation-audio{
	width: 100%;
	height: 100%;
	z-index: 1;	
}

.meditation-audio:hover{
	/*transform:scale(1.5);*/		
}

.image-container{
	width: 120px;
	height: 120px;
	/*background: url('/images/meditation1.jpg') no-repeat center top;
	background-size: 170px 180px; 	*/
	/*float:left;
	clear:none;*/
	cursor: pointer;
	display:inline-block;
	margin: 20px;
	border-radius: 15px;
	/*border: 1px solid white;*/
	overflow:hidden;	
	transition: transform .2s; 
	position: relative;	
}


.image-container:hover{
	transform:scale(1.5);
	opacity: 0.25; 
}


.js-text{
	font-size: 8px;
	position: absolute;
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	z-index: 10;	
	opacity: 0;
	transition: all 0.5s ease;
	top:0;
	color: white;
	font-size: 22px;
	font-weight: bolder;
}

.js-text:hover{
	opacity: 1;	
	z-index: 100;
}

.headerClass{
	text-align: center;
	display:inline-block;	
}

.audioTagClass{
	height: 200px;
	width: 300px;
	/*border: 1px solid white;	*/
	display: inline-block;
	/*margin: 0 auto;	*/
	line-height: 200px;
}

.centerClass{
	text-align: center;
	line-height: 200px;
}

/* sign up form */

.signup-window, .login-window {
	width: 50%;
	height: 50%;
	margin:150px auto 0 auto;
	color: white;
	font-size: 20px;
}
.signup-window div, .login-window div{
	margin-bottom: 15px;
}

.textClass{
	text-align: center;
}

h2.textClass{
	margin-top: 75px;
	font-size: 30px;
	color: #FFD368;
}


/*progress circle */

.progress-ring {
  
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* progress circle */

/* sign up */

.signUpForm, .loginForm {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	padding: 35px 15px 35px 15px;	
}

fieldset{
	
  padding: 25px;
  border:0;

}

legend{
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto 45px;
  width:100%;
  text-align:center;
  color: white;
}

input{
	font-size: 20px;
	margin-top:10px;
}
label{
	font-size: 18px;
	font-weight: bold;
}

.signUpForm > button{
	height: 35px;
	width: 100px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
}

/*    */
.navbar {
    overflow: hidden;
  /*  background-color: #68051a;*/
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;    
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    margin:5px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.dropdown {
    float: right;
    overflow: hidden;    
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 10px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   /* background-color: red;*/
   border: 1px solid #FFD368;
}

.dropdown-content {
    display: none;
    right:5px;
    position: absolute;
   /* background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #FFD368;
    border-radius: 15px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FFD368;
	color: #68051a;   
}

.show {
    display: block;
}

/*   */

.navbarHolder, #playerHolder{
	height: 15px;
	width: 80px;
	border: 1px solid #FFD368;
	display:block;
	margin: 0 auto;
	background-color: #FFD368;	
	text-align: center;
	line-height: 15px;
	font-size: 0;
	cursor:pointer;	
}

.navbarHolder{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

#playerHolder{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position:fixed;
	bottom: 150px;
	right:0;
	left:0;
}


.fa-ellipsis-h{	
	font-size: 16px;
}

/*  */
.playerDiv{
	height: 150px;
	width: 500px;
	border: 1px solid white;
	margin:0 auto;
	right: 0;
    left: 0;
    bottom: 0px;
    position:fixed;
    display:flex;
    border-top-right-radius:200px;
    border-top-left-radius:200px;
}


